In [21]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import tensorflow as tf

Mount google drive to import data

In [22]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [23]:
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("/content/drive/MyDrive/deep_learning/Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

The column 'IS_SUCCESSFUL' is the target for the model (predicting whether the applicant will be successful if funded by Alphabet Soup). Other columns are the features for the model

Step 3: Optimize the Model
Optimize the model to achieve a target predictive accuracy higher than 75%.

In [24]:
application_df = application_df.drop(["EIN"],axis=1)

In [25]:
name_counts = application_df.NAME.value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [26]:
name_counts[name_counts <= 5]

FLORIDA FAMILY CHILD CARE HOME ASSOCIATION INC                          5
GERONTOLOGICAL ADVANCED PRACTICE NURSES ASSOCIATION                     5
INTERNATIONL TRANSPLANT NURSES SOCIETY                                  5
NATIONAL ORGANIZATION FOR WOMEN INC                                     5
PTA HAWAII CONGRESS                                                     5
                                                                       ..
ST LOUIS SLAM WOMENS FOOTBALL                                           1
AIESEC ALUMNI IBEROAMERICA CORP                                         1
WEALLBLEEDRED ORG INC                                                   1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI    1
WATERHOUSE CHARITABLE TR                                                1
Name: NAME, Length: 19214, dtype: int64

In [27]:
replace_list = list(name_counts[name_counts <= 5].index)
for each in replace_list:
    application_df.NAME = application_df.NAME.replace(each,"Other")



Strategy 1: Clean data.
Check for Null values.
Remove columns with little target understanding (SPECIAL CONSIDERATIONS).
Remove duplicate columns.

In [28]:
for column in application_df:
    print(f"Column {column} has {application_df[column].isnull().sum()} null values")

Column NAME has 0 null values
Column APPLICATION_TYPE has 0 null values
Column AFFILIATION has 0 null values
Column CLASSIFICATION has 0 null values
Column USE_CASE has 0 null values
Column ORGANIZATION has 0 null values
Column STATUS has 0 null values
Column INCOME_AMT has 0 null values
Column SPECIAL_CONSIDERATIONS has 0 null values
Column ASK_AMT has 0 null values
Column IS_SUCCESSFUL has 0 null values

In [29]:
application_df = application_df.drop('SPECIAL_CONSIDERATIONS',axis=1)

In [30]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df.APPLICATION_TYPE.value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [31]:
# Determine which values to replace if counts are less than 500
application_list = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for each in application_list:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(each,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [32]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [33]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [34]:
# Choose a cutoff value (<100) and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace=application_df['CLASSIFICATION'].value_counts().loc[lambda x : x<=100].index.tolist()
classifications_to_replace

['C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [35]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [36]:
# Generate our categorical variable lists
cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
cat

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT']

In [37]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(cat)
encode_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,NAME_ALPHA PHI OMEGA,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [38]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df, left_index=True,right_index=True)
application_df = application_df.drop(columns = cat)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [39]:
# Split our preprocessed data into our features and target arrays
y = application_df.IS_SUCCESSFUL.values
X = application_df.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [40]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [41]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 3224

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 3,275
Trainable params: 3,275
Non-trainable params: 0
_________________________________________________________________

In [42]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [43]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5406 - accuracy: 0.7407
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4487 - accuracy: 0.7874
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4364 - accuracy: 0.7930
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4317 - accuracy: 0.7936
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4300 - accuracy: 0.7934
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4282 - accuracy: 0.7955
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4280 - accuracy: 0.7949
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4272 - accuracy: 0.7958
Epoch 9/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4261 - accuracy: 0.7947
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4255 - accuracy: 0.7954
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4247 - accuracy: 0.7954
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4245 - accuracy: 0.7959
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4240 - accuracy: 0.7959
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4237 - accuracy: 0.7958
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4237 - accuracy: 0.7953
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4235 - accuracy: 0.7961
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4230 - accuracy: 0.7961
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4227 - accuracy: 0.7954
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4224 - accuracy: 0.7969
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4222 - accuracy: 0.7973
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4224 - accuracy: 0.7958
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4217 - accuracy: 0.7982
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4217 - accuracy: 0.7960
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4211 - accuracy: 0.7975
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4211 - accuracy: 0.7980
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4208 - accuracy: 0.7987
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4207 - accuracy: 0.7987
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4201 - accuracy: 0.7985
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4193 - accuracy: 0.7999
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4188 - accuracy: 0.8003
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4183 - accuracy: 0.8005
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4180 - accuracy: 0.7999
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4174 - accuracy: 0.8005
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4171 - accuracy: 0.8010
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4165 - accuracy: 0.8012
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4163 - accuracy: 0.8009
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4161 - accuracy: 0.8010
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4159 - accuracy: 0.8017
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4158 - accuracy: 0.8011
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4152 - accuracy: 0.8027
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4154 - accuracy: 0.8014
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4152 - accuracy: 0.8014
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4152 - accuracy: 0.8017
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4148 - accuracy: 0.8015
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4148 - accuracy: 0.8024
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4148 - accuracy: 0.8015
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4148 - accuracy: 0.8011
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4149 - accuracy: 0.8012
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4147 - accuracy: 0.8025
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4146 - accuracy: 0.8028
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4147 - accuracy: 0.8022
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4144 - accuracy: 0.8022
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4145 - accuracy: 0.8017
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4144 - accuracy: 0.8019
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4143 - accuracy: 0.8015
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4142 - accuracy: 0.8015
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4144 - accuracy: 0.8025
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4142 - accuracy: 0.8019
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4135 - accuracy: 0.8026
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4143 - accuracy: 0.8021
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4140 - accuracy: 0.8015
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4142 - accuracy: 0.8017
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4139 - accuracy: 0.8018
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4137 - accuracy: 0.8031
Epoch 65/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4139 - accuracy: 0.8011
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4139 - accuracy: 0.8025
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4136 - accuracy: 0.8021
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4138 - accuracy: 0.8018
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4135 - accuracy: 0.8023
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4138 - accuracy: 0.8018
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4136 - accuracy: 0.8023
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4138 - accuracy: 0.8021
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4137 - accuracy: 0.8028
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4134 - accuracy: 0.8021
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4132 - accuracy: 0.8028
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4132 - accuracy: 0.8028
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4133 - accuracy: 0.8024
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4132 - accuracy: 0.8026
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4133 - accuracy: 0.8025
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4133 - accuracy: 0.8019
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4131 - accuracy: 0.8022
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4128 - accuracy: 0.8019
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4130 - accuracy: 0.8025
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4129 - accuracy: 0.8031
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4130 - accuracy: 0.8024
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4129 - accuracy: 0.8031
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4130 - accuracy: 0.8028
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4128 - accuracy: 0.8026
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4127 - accuracy: 0.8022
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4127 - accuracy: 0.8028
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4126 - accuracy: 0.8025
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4126 - accuracy: 0.8029
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4127 - accuracy: 0.8031
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4130 - accuracy: 0.8026
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4127 - accuracy: 0.8026
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4127 - accuracy: 0.8030
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4125 - accuracy: 0.8021
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4123 - accuracy: 0.8030
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4127 - accuracy: 0.8032
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4125 - accuracy: 0.8023

In [44]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4423 - accuracy: 0.7872 - 478ms/epoch - 2ms/step
Loss: 0.4423042833805084, Accuracy: 0.7871720194816589

In [45]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')

In [46]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [48]:
# Create a random forest classifier.
random_forest = RandomForestClassifier(n_estimators=64, random_state=42) 

# Fitting the model
random_forest = random_forest.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = random_forest.predict(X_test_scaled)
print(f" Random forest model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest model accuracy: 0.772